<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"
    default-lazy-init="true">

    <import resource="classpath:/applicationContext-core.xml" />

    <context:component-scan base-package="org.tju.so.analyzer" />
    <context:component-scan base-package="org.tju.so.service" />
    <context:component-scan base-package="org.tju.so.handler" />

    <bean id="queryFreqKey" class="java.lang.String">
        <constructor-arg value="${query.freq.key}" />
    </bean>

    <bean id="queryHotwordKey" class="java.lang.String">
        <constructor-arg value="${query.hotword.key}" />
    </bean>

    <bean id="dcmMaxPosition" class="java.lang.Integer">
        <constructor-arg value="${dcm.max.position}" />
    </bean>

    <bean id="dcmMaxSessionTime" class="java.lang.Long">
        <constructor-arg value="${dcm.max.session.time}" />
    </bean>

    <bean id="dcmQueryCounterKey" class="java.lang.String">
        <constructor-arg value="${dcm.query.counter.key}" />
    </bean>

    <bean id="dcmPositionCounterKey" class="java.lang.String">
        <constructor-arg value="${dcm.position.counter.key}" />
    </bean>

    <bean id="binlogFile" class="java.lang.String">
        <constructor-arg value="${binlog.file}" />
    </bean>

    <bean id="logHandlers" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <ref bean="binaryLogWriterHandler" />
                <ref bean="hotwordHandler" />
            </list>
        </constructor-arg>
    </bean>

</beans>
